@charset "UTF-8";

@font-face {
    font-family: 'Chakra Petch';
    src: url(../fonts/ChakraPetch-Regular.ttf)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: rgb(67, 66, 66) url(../pictures/background-img.jpg) no-repeat top left; 
    background-size: cover;
    overflow-y: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    height: 100px;
}

header > img {
    display: none;
}

header > #menu {
    font-size: 30px;
    color: #fff;
}

header > #menu:hover {
    color: #8E2980;
    transition: 0.3s;
}

nav {
    display: none;
}

nav > ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: Chakra Petch;
    font-size: 1em;
    font-weight: bolder;
    list-style: none;
}

nav > ul > a {
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
}

nav > ul > a:hover {
    background-color: #8E2980;
    color: black;
    transition: 0.3s;
}

main {
    width: 100vw;
    height: 500px;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main > section > h1 {
    font-family: Chakra Petch;
    font-size: 2.1em;
    color: #fff;
    text-shadow: -2px 2px 8px black;
}

main > section > div#doisp {
    display: flex;
    gap: 10px;
}

div#doisp {
    font-family: Chakra Petch;
    font-size: 1.1em;
    margin-top: 7px;
}

div#doisp > a {
    text-decoration: none;
}

div#doisp > #html {
    background-color: #fff;
    color: black;
    box-shadow: -1px 1px 10px 1px;
    padding: 5px;
}

div#doisp > #html:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s;
}

div#doisp > #css {
    border: 2px solid #fff;
    color: #fff;
    box-shadow: -1px 1px 10px 1px;
    padding: 5px;
}

div#doisp > #css:hover {
    background-color: #fff;
    color: black;
    transition: 0.3s;
}

header > nav#copy {
    display: none;
}
